<section>
    <div >
        <div >
            <div >
                <h2 >Add Product</h2>
                <form action="/add-products" method="post" enctype="multipart/form-data">
                    <label for="">Name</label>
                    <input type="text" name="name" >

                    <label for="">Category</label>
                    <input type="text" name="category" >

                    <label for="">Price</label>
                    <input type="number" name="price" >

                    <label for="">Description</label>
                    <input type="text" name="description" >

                    <label for="">Image</label>
                    <input type="file" name="image" class="form-control">
                    <button type="submit" >Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>